run = "g++ -o Labs/lab4 Labs/lab4.c -lm && ./Labs/lab4 && rm Labs/lab4"

[nix]
channel = "stable-24_05"

[deployment]
run = [
  "sh",
  "-c",
  "g++ -o Labs/lab3 Labs/lab4.c -lm && ./Labs/lab4 && rm Labs/lab4",
]

# ----------------for running all files simmutaniosly-------------
# run = "for file in Labs/*.c; do g++ -o ${file%.*} $file -lm && ./${file%.*}; done"

# [nix]
# channel = "stable-24_05"

# [deployment]
# run = [
#   "sh",
#   "-c",
#   "for file in Labs/*.c; do g++ -o ${file%.*} $file -lm && ./${file%.*}; done",
# ]
